# ===== Core Async & Performance (أقصى سرعة) ====
uvloop
aiofiles
aiohttp[speedups]
httpx[http2,brotli]
orjson
ujson

# ===== Crypto / Security =====
argon2-cffi
pycryptodome
pytgcrypto

# ===== Scheduling =====
apscheduler

# ===== Media / Audio / Video =====
yt-dlp>=2026.2.4
ffmpeg-python
pydub
mutagen
hachoir
# نسخة السيرفرات الخفيفة
opencv-python-headless
numpy
# بيلو 12 كما طلبت
pillow>=12.0.0
wget
# MoviePy من المصدر لدعم بيلو 12
git+https://github.com/Zulko/moviepy.git

# ===== Arabic Text Support =====
arabic-reshaper
python-bidi

# ===== Telegram / Calls =====
ntgcalls>=2.2.11
kurigram
pyromod
pyrogram
tgcrypto

# ===== Web / API / Servers =====
fastapi
flask
uvicorn[standard]
python-multipart
python-dotenv
requests

# ===== Databases =====
motor
pymongo

# ===== Search / AI / TTS =====
edge-tts
gtts
googletrans
gpytranslate
SpeechRecognition
lyricsgenius
spotipy
deepai
lexica-api
nekosbest
g4f

# ===== Scraping / Parsing =====
beautifulsoup4
bs4
python-whois
pyyaml
unidecode
rapidfuzz
fuzzywuzzy
python-Levenshtein

# ===== Utilities =====
pyfiglet
pyshorteners
qrcode
telegraph
speedtest-cli
future
gitpython
heroku3
bing_image_downloader
curl_cffi
pytz

# ===== Images (AI Background Removal) =====
# ريموف بي جي بتدعم 3.13 وشغالة تمام
rembg[gpu]
scikit-image

# ===== YouTube Search =====
git+https://github.com/q058961234-web/youtube-search-python.git
