# ===== Core Async & Speed =====
uvloop
aiofiles
aiohttp[speedups]
httpx[http2,brotli]
orjson
ujson

# ===== System & Media Processing =====
# تعمدنا عدم تحديد إصدار هنا ليقوم MoviePy باختيار المناسب
pillow
numpy
opencv-python-headless
imageio[ffmpeg]
moviepy>=2.0.0
yt-dlp

# ===== AI & Enhancement =====
rembg[gpu]
realesrgan-ncnn-py
gfpgan
basicsr
diffusers
transformers
accelerate
safetensors
torch --index-url https://download.pytorch.org/whl/cu121

# ===== Telegram Core =====
# النسخ الحديثة والمتوافقة مع 3.13
ntgcalls
kurigram
pyromod
pyrogram
tgcrypto

# ===== Web Server =====
fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests

# ===== Database =====
motor
pymongo

# ===== Utilities =====
apscheduler
cachetools
psutil
beautifulsoup4
bs4
pyyaml
gitpython
heroku3
speedtest-cli
qrcode
pyshorteners
googletrans
gpytranslate
speechrecognition
edge-tts
gtts
curl_cffi

# ===== Patches =====
git+https://github.com/q058961234-web/youtube-search-python.git
